<% @page_title = "New Customer" %>
<div class="panel panel-default">
  <div class="panel-heading">

      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= @page_title %>

  </div>
  <div class="panel-body">
  <%= form_for(:customer, :url => {:action => 'create', :id => @customer.id}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f})%>

    <%= submit_tag("Create customer", :class => 'form-control btn btn-primary btn-md')%>

  <% end %>
  </div>
</div>
