<table class="viewTableClass">
	<tr>
		<th>Date</th>
		<td><%= @appointment_log.date.strftime('%d %B, \'%y') %></td>
	</tr>
	<tr>
		<th>Chargeable</th>
		<td><%= @appointment_log.chargeable ? "Yes" : "No" %></td>
	</tr>
	<tr>
		<th colspan="2">Notes</th>
	</tr>
	<tr>
		<td colspan="2"><%= @appointment_log.notes %></td>
	</tr>
</table>