/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */
body {
	margin: 0 auto;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 750px;
	height: 100%;
	background-color: #F9F9F9;
}
nav {
	font-size: 14px;
	line-height: 30px;
	border-top: 2px solid #DD9900;
	border-bottom: 2px solid #DD9900;
}
table {
	margin: 0 auto;
	width: 100%;
	padding: 0;
	border-top: 2px solid #DD9900;
	float: center;
	text-align: left;
}
header { 
	font-size: 20px;
	font-weight: bold;
	padding: 5px 4px;
	text-align: justify;
	}
footer {
	border-top: 2px solid #DD9900;
	font-size: 13px;
	font-weight: bold;
	color: #EEEEEE;
	text-align: right;
	line-height: 35px; 
	width: 100%;
	background: #BBBBDD;
	vertical-align: middle;
}
a:hover {
	color: #999999;
}
#main {

}
#header {
	padding-top: 10px;
	height: 55px;
	text-align: center;
	background: #AAAABB;
}
#titleEditLinkSpan {
	float: right;
}
#predeletewarning {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 50px 40px;
	/* line-height: 100px; */
	height: 100px;
	vertical-align: middle;
	border: 2px dashed #FF3300;
}
.calendarItem {
	padding: 6px 0 1px 0;
	font-size: 9px;
	text-align: center;
	height: 35px;
	border: 1px solid #DD9900;
	border-radius: 5px;
	background-color: #DDDDDD;
	color: #EEEEEE;
}
.calendarTableClass {}

.calendarTableClass tr td, .calendarTableClass tr th {
	text-align: center;
	width: 100px;
	padding: 0;
}
.notice {
	text-align: center;
	background: #DD9900;
	color: #EEEEEE;
	padding: 3px;
}
.formTableClass tr th {
	padding: 3px;
	vertical-align: top;
}
.viewTableClass, .indexTableClass {}
.viewTableClass tr, .indexTableClass tr {
	height: 30px;
}
.viewTableClass th, .indexTableClass th {
	width: 200px;
	}
.viewTableClass td, .indexTableClass td {
}
.odd { background: #E9E9E9;}
.even {}

.actionLinkClass, .formButtonClass {
	border: 1px solid #FF00FF;
	border-radius: 5px;
	padding: 2px 9px;
	background-color: #666666;
	color: #EEEEEE;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
.infoLinkClass {
	font-weight: bold;
	text-decoration: none;
}
.formButtonDivClass {
	text-align: center;
	padding: 10px;
}
.recordCount {
	line-height: 25px;
	font-weight: bold;
}
